div.ui.large.labeled.icon.five.item.secondary.pointing.menu
  a.active.item
    i.home.icon
    | Home
  a.item 
    i.feed.icon
    | Blog
  a.item
    i.feed.icon
    | Photos
  a.item
    i.feed.icon
    | About