extends dashboardLayout.pug

block content
  include ../includes/topnav.pug
  .columns
    include ../includes/adminDashboard.pug

    .column.is-8
      include ../includes/notification.pug
      each image in images
        .card(style="margin-top: 4%")
          .card-image
            figure.image.is-2by2
              img(src="/adminDashboard/downloadImage/" + image._id)
          .card-content
            .content FileName: #{image.filename}
            br
            time(datetime=image.uploadDate) #{image.uploadDate}
          footer.card-footer
            a.card-footer-item(href="/adminDashboard/downloadImage/" + image._id) Download
            a.card-footer-item(href="/adminDashboard/deleteImage/" + image._id, style="background: #eee") Delete