extends dashboardLayout.pug

block content
  .columns
    include ../includes/adminDashboard.pug

    .column.is-8
      include ../includes/notification.pug
      each file in files
        .card(style="margin-top: 4%")
          header.card-header
            p.card-header-title Uploaded on: #{file.created_at}
          .card-content
            .content=file.name
          footer.card-footer
            a.card-footer-item(href="/adminDashboard/downloadFile/" + file.fileId) Download
            a.card-footer-item(href="/adminDashboard/deleteFile/" + file.fileId, style="background: #eee") Delete