extends dashboardLayout.pug

block content
  include ../includes/topnav.pug
  .columns
    include ../includes/adminDashboard.pug

    .column.is-8
      include ../includes/notification.pug
      form(action="", method="post", style="padding-top: 4%")
        .field
          label.label Blog Post Title
          .control
            input.input(type="text", name="blogTitle", value=blog.title)

        .field
          label.label Blog Post Content
          .control
            textarea.textarea(name="blogContent")=blog.content

        .field
          .control
            button.button.is-link(type="submit")
              span.icon
                i.fas.fa-upload
              span Update