extends dashboardLayout.pug

block content
  .columns
    include ../includes/adminDashboard.pug

    .column.is-8
      include ../includes/notification.pug
      form(action="", method="post", style="padding-top: 4%", enctype="multipart/form-data")
        .field
          .file.has-name.is-fullwidth
            label.file-label
              input.file-input(type="file", name="uploadedImage")
              span.file-cta
                span.file-icon
                  i.fas.fa-upload
                span.file-label Choose an image...
              span.file-name

        .field
          label.label Award Name
          .control
            input.input(type="text", name="awardName")

        .field
          label.label Award Receive Date
          .control
            input.input(type="date", name="time", required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}")

        .field
          label.label Award Long Description
          .control
            textarea.textarea(name="award_long_description")

        .field
          .control
            button.button.is-link(type="submit")
              span.icon
                i.fas.fa-upload
              span Update