extends dashboardLayout.pug

block content
  .columns
    include ../includes/adminDashboard.pug

    .column.is-8
      include ../includes/notification.pug
      form(action="/adminDashboard/newFileUpload", method="post", style="padding-top: 4%", enctype="multipart/form-data")

        .field
          .file.has-name.is-fullwidth
            label.file-label
              input.file-input(type="file", name="uploadedFile")
              span.file-cta
                span.file-icon
                  i.fas.fa-upload
                span.file-label Choose a file...
              span.file-name

        .field
          label.label File Type
          .control
            .select
              select(name="fileType")
                option(selected, value="government-orders") Government Orders
                option(value="income-tax-related") Income Tax Related
                option(value="exam-software") Exam Software
                option(value="other") Other

        .field
          button.button.is-info(type="submit") Upload File