extend layout.pug

block content
  include includes/notification.pug
  .columns
    .column.is-4.is-offset-4
      .box.is-primary
        h1.title.has-text-centered Admin Login
        form(action="/adminLogin", method="post")
          .field
            label.label.is-medium Username
            .control.has-icons-left
              input(class="input", type="text", placeholder="test_username", required="required", name="username")
              span(class="icon is-small is-left")
                i.fas.fa-user
          .field
            label.label.is-medium Password
            .control.has-icons-left
              input(class="input", type="password", required="required", name="password")
              span(class="icon is-small is-left")
                i.fas.fa-lock

          .field.is-grouped
            .control
              button(class="button is-success", type="submit") Login
            .control
              button(class="button is-light") Cancel