doctype html
html(lang="en" class="has-navbar-fixed-top")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title=pageTitle
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
    script(defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
    link(rel="stylesheet", href="/css/main.css")
body
  if messages.info
    .notification.is-info
      button.delete
      | #{messages.info}

  if messages.warning
    .notification.is-warning
      button.delete
      | #{messages.warning}

  if messages.error
    .notification.is-danger
      button.delete
      | #{messages.error}


  block content
  script(src="/js/main.js")  