doctype html
html(lang="en" class="has-navbar-fixed-top")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title=pageTitle
    script(defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
    link(rel="stylesheet", href="/css/main.css")

body
  block content

  div(id="app")

  include includes/footer.pug

  script(src="/js/main.bundle.js")
