.column.is-3
  .box
    aside.menu
      p.menu-label General
      ul.menu-list
        li
          a(href="/adminDashboard/editProfile")
            i
            | Edit Profile
        li
          a(href="/adminDashboard/editPassword")
            | Edit Password
      p.menu-label Blog
      ul.menu-list
        li
          a(href="/adminDashboard/newBlogPost")
            | New Blog Post
        li
          a(href="/adminDashboard/allBlogPosts")
            | All Blog Posts
      p.menu-label Gallery
      ul.menu-list
        li
          a(href="/adminDashboard/newImageUpload") 
            | Upload a Picture
        li
          a(href="/adminDashboard/allUploadedImages") 
            | Existing pictures
      p.menu-label Files
      ul.menu-list
        li
          a(href="/adminDashboard/newFileUpload") 
            | Upload a file
        li
          a(href="/adminDashboard/allUploadedFiles") 
            | Existing files
