footer.footer
  .container
    .content.has-text-centered.has-text-white
      p(style="display:inline;") Made with 
      span.icon(style="display:inline;").has-text-danger
        i.fas.fa-heart 
        |  by 
        a(href="https://prajjwaldimri.me").is-dark Prajjwal Dimri

