for message in flash
  if(message.type==='error')
    .notification(class='is-danger', v-if="show")
      button.delete(v-on:click="disappear")
      | #{message.message}
  else
    .notification(class='is-'+message.type, v-if="show")
      button.delete(v-on:click="disappear")
      | #{message.message}

