nav(class="navbar is-fixed-top is-black", role="navigation", aria-label="main navigation")
  .navbar-brand
    a(class="navbar-item", href="/home") A.P. Dimri
    button.button.navbar-burger
      span
      span
      span
  .navbar-menu
    .navbar-end
      a.navbar-item Home
  .navbar-menu.is-active