nav(class="navbar is-fixed-top is-dark", role="navigation", aria-label="main navigation")
  .container
    .navbar-brand
      a(class="navbar-item", href="/home") A.P. Dimri
      button.button.navbar-burger
        span
        span
        span
    .navbar-menu
      .navbar-end
        a.navbar-item(href="/") Home
        a.navbar-item(href="/about") About
        a.navbar-item(href="/blogs") Blog
        a.navbar-item(href="/gallery") Gallery