nav(class="navbar is-fixed-top is-dark", role="navigation", aria-label="main navigation")
  .container
    .navbar-brand
      a(class="navbar-item", href="/home") A.P. Dimri
      button.button.navbar-burger
        span
        span
        span
    .navbar-menu
      .navbar-end
        a.navbar-item Home
        a.navbar-item About
        a.navbar-item Blog
        a.navbar-item Gallery