nav(class="navbar is-fixed-top is-black", role="navigation", aria-label="main navigation")
      .container
        .navbar-brand
          a.navbar-item(href="/") A.P. Dimri
          button.button.navbar-burger
            span
            span
            span
        .navbar-menu
          .navbar-end
            a.navbar-item(href="/about") About
            a.navbar-item(href="/blogs") Blog
            a.navbar-item(href="/gallery") Gallery
            a.navbar-item(href="/awards") Awards
            a.navbar-item(href="/gallery") Income Tax Software
